<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card routerLink="/usuarios">
    <ion-card-header>
      <ion-card-title> Gestión de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>Crear, editar o eliminar usuarios.</ion-card-content>
  </ion-card>

  <ion-card routerLink="/trabajos">
    <ion-card-header>
      <ion-card-title> Gestión de Trabajos</ion-card-title>
    </ion-card-header>
    <ion-card-content>Administrar tipos de trabajo disponibles.</ion-card-content>
  </ion-card>

  <ion-card routerLink="/fichajes">
    <ion-card-header>
      <ion-card-title> Consulta de Fichajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>Visualizar fichajes realizados por los usuarios.</ion-card-content>
  </ion-card>
</ion-content>
